.head{

    background-color: rgb(106, 106, 161);
}

.container{

display: flex;
justify-content: space-around;
padding: 77px;


}
.user img , .valet img{

    width: 350px;
    height: 250px;
    
}
.btn{
    font-size: x-large;
    color: #2d72b7;
    cursor: pointer;
    line-height: 1.5;
    margin: 95px 84px 0px 105px;

    font-family: inherit;
    -webkit-appearance: button;
    background-color: rgba(7, 7, 7, 0.14);
    border-radius: 0rem;
    
    
}

.btn btn_solid{
    text-align: center;

}
.tel{

    width: 50px;
    height: 50px;
}
.card-img-top{

    height: 300px;
}
.phonenumber{
    display: flex;
    justify-content: space-between;
}
.card{
    width: 328px;
}
.portable{
    width: 50px;
    height: 50px;
}
.email{
    width: 50px;
    height: 50px;

}
.position{
    width: 50px;
    height: 50px;
}
.card1{
    border:20px solid #2125294a;
    
    width: 550px;
    margin: 35px 397px;
    color: #f9f4f4a3;
}