.head{

    background-color: rgb(106, 106, 161);
}

.container{

display: flex;
justify-content: space-around;
padding: 77px;


}
.user img , .valet img{

    width: 350px;
    height: 250px;
    
}
.btn{
    font-size: x-large;
    color: #2d72b7;
    cursor: pointer;
    line-height: 1.5;
    margin: 95px 84px 0px 105px;

    font-family: inherit;
    -webkit-appearance: button;
    background-color: rgb(7, 7, 7);
    border-radius: 0rem;
    
    
}

.btn btn_solid{
    text-align: center;

}
.btn-login{

    color: yellow;
}
.card-img-top{

    height: 300px;
}