.bg-light {
    background-color: #2d72b7!important;
    flex: 1 ;
    padding: 57px 148px;
    
}

.navbar-collapse{

    padding-left: 618px;
    
}
.navbar-color {
    color: white !important;
} 
.home a{
    padding: 20px;
}
.navbar{

    height: 100px;
}